//
   Created by zf on 2016/2/6.
extends public/layout
block content
    .banner
        .container
            #home.banner-main
                .bann-right
                    h1 We are Proffasional in
                    h2 Photography
                    p
                        | We each try to keep our photo shoots loose and relaxed and geared toward you all having fun together as a family.
                    img(src='images/ftr-logo.png', alt='')
                .clearfix
    // header end here
    .copyrights
        | Collect from
        a(href='http://www.cssmoban.com/') 企业网站模板
    // about start here
    #About.about
        .container
            .about-main
                .col-md-3.about-left
                .col-md-9.about-right
                    .about-top
                        h3 About
                        h5 we are proffasional in photography
                        ul
                            li
                                p
                                    | I remember thinking, as a child, it was taking forever to grow up. I counted each milestone – teen years, learner’s permit, license and finally, adulthood.
                            li
                                p
                                    | I finally grew up. I met my husband, and we had our own children. And now, as a parent, I can’t believe how fast time is going.
                        p
                            | It’s too fast, and while I want to remember every minute of it, I’m often surprised when my husband reminds me of something I’ve already forgotten.
                    .worker
                        h4 THE TEAM
                        p It’s too fast, and while I want to remember every minute of it,
                        p
                        .col-md-4.team-grid
                            img(src='images/t1.jpg', alt='')
                        .col-md-4.team-grid
                            img(src='images/t2.jpg', alt='')
                        .col-md-4.team-grid
                            img(src='images/t3.jpg', alt='')
                        .clearfix
                .clearfix
    // about end here
    // services start here
    #Services.services
        .container
            .services-main
                .ser-top
                    h3 SERVICES
                    h4 I want to remember every minute of it, I’m often surprised.
                .ser-bottom
                    .ser-grid
                        .col-md-8.ser-left
                            h5 Special Event Photgraphy
                            p
                                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                        .col-md-4.ser-right
                            img(src='images/bike.png', alt='')
                        .clearfix
                    .ser-grid
                        .col-md-4.ser-left.wlta
                            img(src='images/dotts.png', alt='')
                        .col-md-8.ser-right.wltatext
                            h5 Familly Photgraphy
                            p
                                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                        .clearfix
                    .ser-grid
                        .col-md-8.ser-left
                            h5 Wedding Photgraphy
                            p
                                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                        .col-md-4.ser-right
                            img(src='images/wedding.png', alt='')
                        .clearfix
                    .clearfix
                .clearfix
    // services end here

    // price start here
    #Pricing.price
        .container
            .price-main
                .price-top
                    h3 PRICING
                    h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit

                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
    // price end here

