//
   Created by zf on 2016/1/19.
extends public/layout
block content
    table(class="table")
        form(method="post")
            tr
                td
                    input(type="text" class="form-control" name="username")
            tr
                td
                    input(type="password" class="form-control" name="password")
            tr
                td
                    input(type="submit" class="btn-primary")

