//
   Created by zf on 2016/2/9.
extends ../public/alayout
block content
    .templatemo-content-container
        .templatemo-flex-row.flex-content-row
            .templatemo-content-widget.white-bg.col-12
                i.fa.fa-times
                .square
                h2.templatemo-inline-block 欢迎来到NKBH cms管理系统
                hr
                p
                    | 欢迎来到nkbh CMS管理后台，系统版本v0.0.8，CMS作者stiller
                    a(href='http://www.uneedzf.com/', target='_parent') （stiller的个人主页）
                    |  现在此CMS仅仅实现了一部分简单的部分，采用Node.js强劲的性能和MongoDB灵活的储存
                    a(href='http://www.Node.org', target='_parent') Node.js官方网站
                    |  该版适用于我自己的毕业设计O(∩_∩)O
                    a(href='mail://uneedzf@outlook.com', target='_parent') 给我发送mail
                    |  uneedzf@outlook.com
                p
                    | 该CMS全部代码可以在GitHub上全部找到，所以在此基础上的全部代码符合开源标准，并长期维护此项目，也是我第一个开源项目，恩，之前把GitHub当备份库来着
        .templatemo-flex-row.flex-content-row
           .col-1
                .panel.panel-default.templatemo-content-widget.white-bg.no-padding.templatemo-overflow-hidden
                    i.fa.fa-times
                    .panel-heading.templatemo-position-relative
                        h2.text-uppercase 后台基本管理员
                    .table-responsive
                        table.table.table-striped.table-bordered
                            thead
                                tr
                                    td No.
                                    td 姓名
                                    td 权限
                                    td ip
                            tbody
                                -each auser in ausers
                                    tr
                                        td No.
                                        td #{auser.username}
                                        td #{auser.power}
                                        td 000.000.000.000



