//
   Created by zf on 2016/1/22.
extends ../public/alayout
block content
   form(method='post')
      table(class="table")
         - each val in user
            tr
               td 用户名:
               td  #{val.username}
            tr
               td 密码:
               td  #{val.password}
            tr
               td 新的密码：
               td
                  input(type='text' name='new_password')
                  input(type='text' name='renew_password')
            tr
               td mail:
               td  #{val.mail}
            tr
               td 发言:
               td
            tr
               td
               td
                  input(type='submit' value="修改" class='btn-primary')
