//
   Created by zf on 2016/1/22.
extends ../public/layout
block content
   table(class='table')
      form(method="post")
         tr
            td 用户名：
            td
               input(type="text" class="form-control" name="username")
         tr
            td 密码：
            td
               input(type="text" class="form-control" name="new_password")
         tr
            td 重复输入密码：
            td
               input(type="text" class="form-control" name="renew_password")
         tr
            td 输入mail：
            td
               input(type="text" class="form-control" name="mail")
         tr
            td 选择权限：
            td
               select(name="power")
                  option(value=1) 高级管理员
                  option(value=2) 中级管理员
                  option(value=3) 低级管理员
         tr
            td
            td
               input(type="submit" class="btn-primary" value="确定添加")

